
* {
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FAFAF8;
  font-family: Inter;
  font-weight: 400;
  font-size: 32px;
}

.header-container {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 111px;
  background-color: white;
  box-shadow: 0px 2px 2px 0px #0000000F;
  

}

.header-icon {
  height: 52px;
  padding-right: 15px;
}